<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apelldos</th>
                <th>Tipo Sangre</th>
            </tr>
        </thead>
        <tbody>
            {% for p  in pacientes %}
                <tr>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.apellidos }}</td>
                    <td>{{ p.tipo_sangre}}</td>
                </tr>
            {% endfor  %}
        </tbody>
    </table>
</body>
</html>